{% extends "layout.njk" %}
{% block content %}
  <section class="intro">
    <p>{{ site.description }}</p>
  </section>

  <section class="post-list">
    {% if posts | length == 0 %}
      <p>No posts yet.</p>
    {% else %}
      <div class="book-shelf">
        <ul class="book-spine-list">
          {% for post in posts %}
            <li class="book-spine">
              <a
                class="book-spine-link"
                href="{{ post.url }}"
                {% if post.description %}title="{{ post.description }}"{% endif %}
              >
                <span class="book-spine-title">{{ post.title }}</span>
                <span class="book-spine-date">{{ post.dateLabel }}</span>
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}
  </section>
{% endblock %}
