.hljs {
  background: transparent;
  color: inherit;
}

.hljs-comment,
.hljs-quote {
  color: #6a737d;
  font-style: italic;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-subst {
  font-weight: 700;
}

.hljs-string,
.hljs-title,
.hljs-name,
.hljs-type,
.hljs-attribute,
.hljs-symbol,
.hljs-bullet,
.hljs-addition,
.hljs-variable,
.hljs-template-tag,
.hljs-template-variable,
.hljs-number,
.hljs-literal,
.hljs-tag .hljs-attr,
.hljs-tag .hljs-name,
.hljs-section,
.hljs-selector-id,
.hljs-selector-class {
  color: inherit;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: 700;
}
